In [2]:
import pandas as pd
import numpy as np

In [3]:
path = 'data\pokemon_team_rocket_dataset.csv'
df = pd.read_csv(path)

In [4]:
df.head()

,ID,Age,City,Economic Status,Profession,Most Used Pokemon Type,Average Pokemon Level,Criminal Record,PokéBall Usage,Win Ratio,Number of Gym Badges,Is Pokemon Champion,Battle Strategy,Number of Migrations,Rare Item Holder,Debt to Kanto,Charity Participation,Team Rocket
0,0,27,Pewter City,Middle,Fisherman,Rock,50,0,DuskBall,51,1,False,Unpredictable,25,False,24511,True,No
1,1,55,Viridian City,Middle,PokéMart Seller,Grass,35,1,HealBall,53,2,False,Unpredictable,19,False,177516,True,Yes
2,2,14,Pallet Town,High,Police Officer,Poison,96,0,NetBall,76,5,False,Aggressive,18,False,85695,True,No
3,3,41,Cerulean City,Middle,Gym Leader Assistant,Dragon,23,0,UltraBall,27,0,False,Defensive,10,False,39739,True,No
4,4,15,Pallet Town,Middle,Gym Leader Assistant,Ground,16,1,HealBall,51,1,False,Aggressive,17,True,126923,False,Yes

In [5]:
df.drop(columns=['ID'], inplace=True)

In [6]:
df.head()

,Age,City,Economic Status,Profession,Most Used Pokemon Type,Average Pokemon Level,Criminal Record,PokéBall Usage,Win Ratio,Number of Gym Badges,Is Pokemon Champion,Battle Strategy,Number of Migrations,Rare Item Holder,Debt to Kanto,Charity Participation,Team Rocket
0,27,Pewter City,Middle,Fisherman,Rock,50,0,DuskBall,51,1,False,Unpredictable,25,False,24511,True,No
1,55,Viridian City,Middle,PokéMart Seller,Grass,35,1,HealBall,53,2,False,Unpredictable,19,False,177516,True,Yes
2,14,Pallet Town,High,Police Officer,Poison,96,0,NetBall,76,5,False,Aggressive,18,False,85695,True,No
3,41,Cerulean City,Middle,Gym Leader Assistant,Dragon,23,0,UltraBall,27,0,False,Defensive,10,False,39739,True,No
4,15,Pallet Town,Middle,Gym Leader Assistant,Ground,16,1,HealBall,51,1,False,Aggressive,17,True,126923,False,Yes

In [7]:
def changetoBool(columns, df):
    for col in columns:
        df[col] = df[col].map({True: 1, False:0})
    return df

In [8]:
columns = ['Is Pokemon Champion', 'Rare Item Holder', 'Charity Participation']
update_df = changetoBool(columns, df)

In [9]:
update_df.head()

,Age,City,Economic Status,Profession,Most Used Pokemon Type,Average Pokemon Level,Criminal Record,PokéBall Usage,Win Ratio,Number of Gym Badges,Is Pokemon Champion,Battle Strategy,Number of Migrations,Rare Item Holder,Debt to Kanto,Charity Participation,Team Rocket
0,27,Pewter City,Middle,Fisherman,Rock,50,0,DuskBall,51,1,0,Unpredictable,25,0,24511,1,No
1,55,Viridian City,Middle,PokéMart Seller,Grass,35,1,HealBall,53,2,0,Unpredictable,19,0,177516,1,Yes
2,14,Pallet Town,High,Police Officer,Poison,96,0,NetBall,76,5,0,Aggressive,18,0,85695,1,No
3,41,Cerulean City,Middle,Gym Leader Assistant,Dragon,23,0,UltraBall,27,0,0,Defensive,10,0,39739,1,No
4,15,Pallet Town,Middle,Gym Leader Assistant,Ground,16,1,HealBall,51,1,0,Aggressive,17,1,126923,0,Yes

In [11]:
update_df.tail()

,Age,City,Economic Status,Profession,Most Used Pokemon Type,Average Pokemon Level,Criminal Record,PokéBall Usage,Win Ratio,Number of Gym Badges,Is Pokemon Champion,Battle Strategy,Number of Migrations,Rare Item Holder,Debt to Kanto,Charity Participation,Team Rocket
4995,36,Viridian City,Middle,Researcher,Rock,91,0,LuxuryBall,53,5,0,Defensive,5,0,70192,1,NaN
4996,17,Vermilion City,Middle,Gym Leader Assistant,Dragon,23,0,PokéBall,40,0,0,Defensive,1,0,43208,1,NaN
4997,67,Fuchsia City,High,Elite Trainer,Dark,13,0,UltraBall,36,0,0,Defensive,25,0,47794,1,NaN
4998,43,Viridian City,Middle,Daycare Worker,Poison,48,0,MasterBall,51,4,0,Defensive,4,0,10995,1,NaN
4999,44,Fuchsia City,Middle,Nurse,Flying,10,0,MasterBall,22,0,0,Defensive,3,0,42566,1,NaN

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

In [12]:
categorical_cols = update_df.select_dtypes(include=['object']).columns

In [13]:
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    update_df[col] = le.fit_transform(update_df[col])
    label_encoders[col] = le

In [14]:
update_df.tail()

,Age,City,Economic Status,Profession,Most Used Pokemon Type,Average Pokemon Level,Criminal Record,PokéBall Usage,Win Ratio,Number of Gym Badges,Is Pokemon Champion,Battle Strategy,Number of Migrations,Rare Item Holder,Debt to Kanto,Charity Participation,Team Rocket
4995,36,9,2,12,15,91,0,4,53,5,0,1,5,0,70192,1,2
4996,17,8,2,8,2,23,0,7,40,0,0,1,1,0,43208,1,2
4997,67,3,0,6,1,13,0,9,36,0,0,1,25,0,47794,1,2
4998,43,9,2,5,13,48,0,5,51,4,0,1,4,0,10995,1,2
4999,44,3,2,9,7,10,0,5,22,0,0,1,3,0,42566,1,2

In [21]:
#remove the last 1000 because they are unknown. We need to train test split the 4000 values
update_df = update_df.head(4000)

In [22]:
target = 'Team Rocket'
X = update_df.drop(columns=[target])
Y = update_df[target]

In [23]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size =.2, random_state=42)

In [24]:
models = {
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'SVM' : SVC()
}

In [25]:
for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(f'----- {name} -----')
    print(f'Accuracy: {accuracy_score(y_test, y_pred):.4f}')
    print(classification_report(y_test, y_pred))
    print('\n' + '-'*35 + '\n')

c:\Users\irwin\Documents\Projects\PokemonDetective\pokemondetective\.conda\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

----- Logistic Regression -----
Accuracy: 0.9263
              precision    recall  f1-score   support

           0       0.93      0.98      0.96       639
           1       0.92      0.70      0.79       161

    accuracy                           0.93       800
   macro avg       0.92      0.84      0.87       800
weighted avg       0.93      0.93      0.92       800


-----------------------------------

----- Random Forest -----
Accuracy: 0.9950
              precision    recall  f1-score   support

           0       0.99      1.00      1.00       639
           1       1.00      0.98      0.99       161

    accuracy                           0.99       800
   macro avg       1.00      0.99      0.99       800
weighted avg       1.00      0.99      0.99       800


-----------------------------------

----- Gradient Boosting -----
Accuracy: 0.9912
              precision    recall  f1-score   support

           0       0.99      1.00      0.99       639
           1       1.00      0.96      0.98       161

    accuracy                           0.99       800
   macro avg       0.99      0.98      0.99       800
weighted avg       0.99      0.99      0.99       800


-----------------------------------

----- SVM -----
Accuracy: 0.9525
              precision    recall  f1-score   support

           0       0.94      1.00      0.97       639
           1       1.00      0.76      0.87       161

    accuracy                           0.95       800
   macro avg       0.97      0.88      0.92       800
weighted avg       0.96      0.95      0.95       800


-----------------------------------

In [19]:
update_df.head()

,Age,City,Economic Status,Profession,Most Used Pokemon Type,Average Pokemon Level,Criminal Record,PokéBall Usage,Win Ratio,Number of Gym Badges,Is Pokemon Champion,Battle Strategy,Number of Migrations,Rare Item Holder,Debt to Kanto,Charity Participation,Team Rocket
0,27,6,2,7,15,50,0,1,51,1,0,2,25,0,24511,1,0
1,55,9,2,10,9,35,1,3,53,2,0,2,19,0,177516,1,1
2,14,5,0,11,13,96,0,6,76,5,0,0,18,0,85695,1,0
3,41,1,2,8,2,23,0,9,27,0,0,1,10,0,39739,1,0
4,15,5,2,8,10,16,1,3,51,1,0,0,17,1,126923,0,1